<header class="site-header">
  <div class="container">
    <a href="{{ '/' | relative_url }}" class="site-title">
      <span class="title-main">HARIBOW</span>
      <span class="title-sub">Online Lesson</span>
    </a>

    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">ホーム</a>
      <a href="{{ '/articles/' | relative_url }}">記事一覧</a>
      <a href="{{ '/category/mindset/' | relative_url }}">思想</a>
      <a href="{{ '/category/technique/' | relative_url }}">技術</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
    </nav>
  </div>
</header>
